<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Savestory</title>
</head>
<body>
  <h1>savestory</h1>


  <form action="/savestory" method="POST">
    <label for="title">Username:</label>
    <input type="text" name="title" id="title" required><br>

    <label for="body">Body:</label>
    <input type="body" name="body" id="body" required><br>

 

    <input type="submit" value="Save to database">
    
  </form>
</body>
</html>